<h1>Comics Collection</h1>

<%= link_to 'New Comic', new_comic_path, class: 'btn btn-new' %>

<div class="comics-grid">
  <% @comics.each do |comic| %>
    <div class="comic-card">
      <h2><%= comic.title %></h2>
      
      <p><%= comic.genre %></p>
      <p><%= comic.description %></p>
    
      <%= link_to 'Show', comic_path(comic), class: 'btn btn-show' %>
      <%= link_to 'Edit', edit_comic_path(comic), class: 'btn btn-edit' %>
      <%= link_to 'Destroy', comic_path(comic), 
            data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, 
            class: 'btn btn-destroy' %>
    </div>
  <% end %>
</div>


